alembic 
Click  
Flask 
Flask-Migrate 
Flask-SQLAlchemy 
Flask-WTF
itsdangerous 
Jinja2
Mako  
MarkupSafe  
pip 
python-dateutil
python-dotenv
python-editor 
setuptools
six
SQLAlchemy
Werkzeug
WTForms 
